{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace rs=RedSeadog\Wfqbe\ViewHelpers}

<f:debug>{_all}</f:debug>
<h3>
   EXT:wfqbe/Resources/Private/Templates/Cud/AddForm.html
</h3>

<div class="container">  
	<div id="CUD">
		<f:form id="CUD_form" object="{rows}" name="CUD_form" enctype="multipart/form-data" method="post" action="add" >
    		<div class="wfqbe_description">Een Default Add Scherm (hello <rs:logo />)</div>
    		<div class="wfqbe_block">
            	<div class="table-responsive"> 
      				<table class="table table-bordered table-hover table-condensed">
                      <tbody> 
              			<f:for each="{columnNames}" as="columnName" iteration="i">
                          <tr>
                            <td>
      							<span class="label">
        							<label for="{columnName.name}">{columnName.name}:</label>
      							</span>
                            </td>
                            <td>
     							<div class="field">
        							<f:form.textfield class="add" name="{columnName.name}" value="" />
      							</div>
                            </td>
                          </tr>
                         </f:for> 
                      </tbody>
                   </table>
    			</div>
          	</div>
          		
    			<div class="wfqbe_block">    
      				<f:form.submit class="btn btn-primary" value="Toevoegen" />
    			</div>
      	</f:form>
  	</div>
  
</div>
