{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace rs=RedSeadog\Wfqbe\ViewHelpers}

<f:debug>{_all}</f:debug>
<h3>
   EXT:.../Cud/Edit.html
</h3>
<f:comment>
	<f:render partial=”title.{person.gender}” /> and the partials “title.male.html”, “title.female.html”, 
</f:comment>

<div class="container">  
	<div id="CUD">
		<f:form id="CUD_form" object="{rows}" name="CUD_form" enctype="multipart/form-data" method="post" action="update" arguments="{keyValue: '{keyValue}'}"  >
    		<div class="wfqbe_description">Een Default Edit Scherm</div>
    		<div class="wfqbe_block">
            	<div class="table-responsive"> 
      				<table class="table table-bordered table-hover table-condensed">
                      <tbody> 
              			<f:for each="{columnNames}" as="columnName" iteration="i">
                          <tr>
                            <td>
      							<span class="label">
<f:if condition="{columnName.type} != 'nodisplay'">
<f:then>
        							<label for="{columnName.name}">{columnName.name}:</label>
</f:then>
</f:if>
      							</span>
                            </td>
                            <td>
     							<div class="field">
									<f:switch expression="{columnName.type}">
										<f:case value="nodisplay">						
										</f:case>
										<f:case value="readonly">						
											{rows.0.{columnName.name}}
										</f:case>
										<f:case value="gender">
<f:form.select name="{columnName.name}" value="{rows.0.{columnName.name}}" options="{rs:selectGender()}" />
										</f:case>
										<f:case value="datum">
											<f:form.textfield class="form-control {columnName.type}" name="{columnName.name}"  value="{rows.0.{columnName.name}-> f:format.date(format: 'd-m-Y')}" />
										</f:case>
										<f:case value="tijd">
											<f:form.textfield class="form-control {columnName.type}" name="{columnName.name}" value="{rows.0.{columnName.name}-> f:format.date(format: 'H:i')}" />
										</f:case>
										<f:defaultCase>
											<f:form.textfield class="form-control {columnName.type}" name="{columnName.name}" value="{rows.0.{columnName.name}}" />
										</f:defaultCase>
									</f:switch>
      							</div>
                            </td>
							<f:comment>
                            <td>
     							<div class="fieldtype">
        							(veldtype={columnName.type})
      							</div>
                            </td>
							</f:comment>
                          </tr>
                         </f:for> 
                      </tbody>
                   </table>
    			</div>
          	</div>
          		<f:form.hidden name="uid" value="{rows.0.uid}" />
    			<div class="wfqbe_block">    
      				<f:form.submit class="btn btn-primary" value="Wijzigen" />
    			</div>
				
      	</f:form>
		<button class="btn btn-warning" onclick="goBack()">Terug</button>
  	</div>
    
</div>
