{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace rs=RedSeadog\Wfqbe\ViewHelpers}

<f:variable name="joop" value="<rs:getuid />" />

<f:debug>{_all}</f:debug>
<h3>
   EXT:.../Cud/Update.html
</h3>

<f:form id="myform" name="myform" pluginName="piquery" controller="Query" action="list" pageUid="{flexformdata.redirectPage}" arguments="{koppelveld: '{joop}'}"  >
    <f:form.submit class="btn btn-primary" value="Update" />
</f:form>

<script type="text/javascript">
    document.myform.submit();
</script>
