{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace rs=RedSeadog\Wfqbe\ViewHelpers}

<f:comment>
	EXT:.../Cud/UpdateForm.html
	<f:debug>{_all}</f:debug>
	Dit werkt nog niet: <f:translate key="{columnName.name}" extensionName="wfqbe" /> 
</f:comment>

<div class="container">  
	<div id="{flexformdata.div_id}">
		<f:form id="{flexformdata.div_id}_form" name="{flexformdata.div_id}_form" enctype="multipart/form-data" method="post" action="update" arguments="{keyValue: '{keyValue}'}"  >
    		<div class="wfqbe_description">{flexformdata.caption} wijzigen</div>
    		<div class="wfqbe_block">
            	<div class="table-responsive"> 
      				<table class="table table-bordered table-hover table-condensed">
                      <tbody> 
              			<f:for each="{columnNames}" as="columnName" >
                          <tr>
                            <td>
      							<span class="label">
									<f:if condition="{columnName.type} != 'nodisplay'">
										<label for="{columnName.name}">{columnName.name}</label>
									</f:if>
      							</span>
                            </td>
                            <td>
     							<div class="field">
									<f:switch expression="{columnName.type}">
										<f:case value="nodisplay">						
										</f:case>
										<f:case value="readonly">						
											{row.{columnName.name}}
										</f:case>
										<f:case value="required">
											<f:form.textfield class="form-control {columnName.type}" required="1" name="{columnName.name}" value="{row.{columnName.name}}" />
										</f:case>
										<f:case value="select">
											<f:render partial="select{columnName.name}" arguments="{_all}" />
										</f:case>
										<f:case value="datum">
											<f:form.textfield class="form-control {columnName.type}" name="{columnName.name}" value="{row.{columnName.name}-> f:format.date(format: 'd-m-Y')}" />
										</f:case>
										<f:case value="tijd">
											<f:form.textfield class="form-control {columnName.type}" name="{columnName.name}" value="{row.{columnName.name}-> f:format.date(format: 'H:i')}" />
										</f:case>
										<f:case value="textarea">
											<f:form.textarea class="form-control {columnName.type}" name="{columnName.name}" value="{row.{columnName.name}}" />
										</f:case>
										<f:case value="upload">
											<f:form.upload name="file" />
										</f:case>
										<f:defaultCase>
											<f:form.textfield class="form-control {columnName.type}" name="{columnName.name}" value="{row.{columnName.name}}" />
										</f:defaultCase>
									</f:switch>
      							</div>
                            </td>
                          </tr>
                         </f:for> 
                      </tbody>
                   </table>
    			</div>
          	</div>

    		<div class="wfqbe_block">    
				<button class="btn btn-warning" onclick="goBack()">Terug</button>
      			<f:form.submit class="btn btn-primary" value="Wijzigen" />
    		</div>
				
      	</f:form>
		
  	</div>
</div>
