{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace rs=RedSeadog\Wfqbe\ViewHelpers}


<f:comment>
	EXT:.../Cud/UpdateForm.html
	
	Dit werkt nog niet: <f:translate key="{columnName.name}" extensionName="wfqbe" />

	Variabele 'modus' is important!! 
	Is nodig voor select en display partials en voor de Fieldtypes partials
	
</f:comment>

<f:variable name="modus" value="select" />

<f:debug>{_all}</f:debug>

<div class="container">  
	<div id="{flexformdata.div_id}">
		<f:form id="CUD_form" name="CUD_form" enctype="multipart/form-data" method="post" action="update" arguments="{keyValue: '{keyValue}'}"  >
    		<div class="wfqbe_description">{flexformdata.caption} wijzigen</div>
    		<div class="wfqbe_block">
            	<div class="table-responsive"> 
      				<table class="table table-bordered table-hover table-condensed">
                      <tbody> 
              			<f:render partial="FieldList" arguments="{_all}" />
                      </tbody>
                   </table>
    			</div>
          	</div>

    		<div class="wfqbe_block">    
				<button class="btn btn-warning" onclick="goBack()">Terug</button>
      			<f:form.submit class="btn btn-primary" value="Wijzigen" />
    		</div>
				
      	</f:form>
		
  	</div>
</div>
