{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:comment>
  <f:debug>{_all}</f:debug>
 <h3> EXT:wfqbe/Resources/Private/Templates/Query/List.html </h3>
</f:comment>  

<f:if condition="{rows}" >
    <f:then>
        <f:render section="resultTable" arguments="{_all}" />
    </f:then>
    <f:else>
	<div class="alert alert-warning emptyResult" role="alert">
	    <f:format.html>{flexformdata.emptyResult}</f:format.html>
	</div>
	<f:if condition="{flexformdata.cudPage}">
	    <f:link.action 
		controller="Cud" 
		pluginName="Picud"
		action="addForm"
		pageUid="{flexformdata.cudPage}"
		arguments="{keyValue: '{keyValue}'}">
			<button class="btn btn-primary" type="button" >{flexformdata.caption} aanmaken</button>
	    </f:link.action>		
	</f:if>
    </f:else>
</f:if>

<f:section name="resultTable" >
  
<div class="container">
  <div id="{flexformdata.div_id}">
    <div class="wfqbe_description">
      <f:if condition="{flexformdata.summary}">
	<f:then>
	  <button
	    class="btn btn-primary"
	    type="button"
	    data-toggle="collapse"
	    data-target="#collapseExample"
	    aria-expanded="false"
	    aria-controls="collapseExample" >
	      {flexformdata.caption}</button>
	</f:then>
	<f:else> 
	  {flexformdata.caption}
	</f:else>
      </f:if>
		<f:if condition="{flexformdata.cudPage}">
		  <f:link.action controller="Cud" pluginName="Picud" action="addForm" pageUid="{flexformdata.cudPage}" >
			<button class="btn btn-secondary" type="button" >+</button>
		  </f:link.action> 
		</f:if>
    </div>
    <div class="table-responsive">
	  <input type='hidden' id='sort' value='asc'>
      <table class="table table-bordered table-hover table-condensed" id="{flexformdata.div_id}_Table">
	<div class="summary">
	  <div class="collapse" id="collapseExample">
	    <div class="card card-body bg-light">{flexformdata.summary}</div>
	  </div>
	</div>
	<thead class="wfqbe_table_header">
	  <tr>
		<f:if condition="{flexformdata.detailPage}">
				<th></th>
		</f:if>
			
	    <f:for each="{columnNames}" as="columnName">
	      <f:if condition='{columnName.type} != "nodisplay"'>
		  
		<th> 
		<div class="{flexformdata.div_id}_label">
			<span><f:translate id="{columnName.name}" key="{columnName.name}" default="{columnName.name}" /></span>
		</div>
		</th>
	      </f:if>
            </f:for>
	    <f:if condition="{flexformdata.cudPage}">
              <th class="center"> Edit - Delete </th>
	    </f:if>
	  </tr>
	</thead>
  
	<tbody>
	  <f:for each="{rows}" as="row" >
            <tr>  
				<f:if condition="{flexformdata.detailPage}">
					<td class="center"> 
						<f:link.action action="detailForm" pageUid="{flexformdata.detailPage}" arguments="{keyValue: '{row.{flexformdata.keyField}}'}" >
							<i class="fas fa-info-circle"></i>Details
						</f:link.action>
					</td>
				</f:if>
            
				<f:for each="{columnNames}" as="columnName">
					<f:if condition='{columnName.type} != "nodisplay"'>
						<td> 
						<f:if condition="{columnName.relationField}">
						<f:then>
							<f:link.action pageUid="{columnName.childPage}" arguments="{keyValue: '{row.{columnName.relationField}}'}"> 
								<f:render partial="Fieldtypes/{columnName.type}" arguments="{_all}" />
							</f:link.action>
						</f:then>
						<f:else>
							<f:render partial="Fieldtypes/{columnName.type}" arguments="{_all}" />
						</f:else>
						</f:if>
						</td>
					</f:if>
				</f:for>
                          	
			<f:if condition="{flexformdata.cudPage}">
				<td class="center"> 
					<f:link.action controller="Cud" pluginName="Picud" action="updateForm" pageUid="{flexformdata.cudPage}" arguments="{keyValue: '{row.{flexformdata.keyField}}'}" >
						<i class="fas fa-edit"></i>
					</f:link.action>
					&nbsp;-&nbsp;
					<f:link.action controller="Cud"	pluginName="Picud" action="deleteForm" pageUid="{flexformdata.cudPage}"	arguments="{keyValue: '{row.{flexformdata.keyField}}'}" >
						<i class="fas fa-trash-alt"></i>
					</f:link.action>
				</td>
			</f:if>
        </tr>
     </f:for>   
	</tbody>		
      </table>
    </div>
  </div>
</div>
</f:section>
