{namespace rs=RedSeadog\Wfqbe\ViewHelpers} {namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:comment>
    Partial Pagination
    <h5>Page {pageInfo.currentPageNumber} of {pageInfo.numberOfPages}.</h5>
    <h5>{pageInfo.rowsPerPage} items per page, {pageInfo.totalAmountOfRows} items total</h5>
</f:comment>

<f:variable name="pageNo" value="{pageNo: '1'}" />
<f:variable name="joop" value="{pageNo}"/>
<f:variable name="rsrq_newnames" value="<rs:prependString array='{rsrq_names}' string='RSRQ_' />" />
<f:if condition="{rsrq_newnames}">
	<f:then>
		<f:variable name="joop" value="<rs:arrayMerge array1='{rsrq_newnames}' array2='{joop}'/>" />
	</f:then>
</f:if>
<f:link.action arguments="{joop}" addQueryString="TRUE"><span class="badge badge-pill badge-primary">First page </span> </f:link.action>
<v:iterator.loop count="{pageInfo.numberOfPages}" iteration="iteration">
	<f:variable name="pageNo" value="{pageNo: '{iteration.cycle}'}" />
	<f:variable name="joop" value="<rs:arrayMerge array1='{rsrq_newnames}' array2='{pageNo}'/>" />
    <f:link.action arguments="{joop}" addQueryString="TRUE">
        <f:if condition="{iteration.cycle}=={pageInfo.currentPageNumber}">
            <f:then>
                <f:variable name="Bingo" value="Red" />
                <span class="{Bingo} badge badge-pill badge-info">{iteration.cycle}</span>
            </f:then>
            <f:else>
                <f:variable name="Bingo" value="Blue" />
                <span class="{Bingo} badge badge-pill badge-info">{iteration.cycle}</span>
            </f:else>
        </f:if>
    </f:link.action>
</v:iterator.loop>
<f:variable name="pageNo" value="{pageNo: '{pageInfo.numberOfPages}'}" />
<f:variable name="joop" value="<rs:arrayMerge array1='{rsrq_newnames}' array2='{pageNo}'/>" />
<f:link.action arguments="{joop}"><span class="badge badge-pill badge-primary"> Last page </span></f:link.action>
<br />
<br />
