{namespace rs=RedSeadog\Wfqbe\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:comment>
    Partial Pagination
    <h5>Page {pageInfo.currentPageNumber} of {pageInfo.numberOfPages}.</h5>
    <h5>{pageInfo.rowsPerPage} items per page, {pageInfo.totalAmountOfRows} items total</h5>
</f:comment>

<f:variable name="pageNo" value="{pageNo: '1'}" />
<f:variable name="args" value="{pageNo}"/>
<f:variable name="rsrq_newnames" value="<rs:prependString array='{rsrq_names}' string='RSRQ_' />" />

<f:if condition="{rsrq_newnames}">
    <f:then>
        <f:variable name="args" value="<rs:arrayMerge array1='{rsrq_newnames}' array2='{args}'/>" />
    </f:then>
</f:if>
<f:link.action arguments="{args}" addQueryString="TRUE"><span class="badge badge-pill badge-primary">First page </span> </f:link.action>

<v:iterator.loop count="{pageInfo.numberOfPages}" iteration="iteration">
    <f:variable name="pageNo" value="{pageNo: '{iteration.cycle}'}" />
    <f:variable name="args" value="<rs:arrayMerge array1='{rsrq_newnames}' array2='{pageNo}'/>" />

	<f:variable name="fromMinusOne" value="<v:math.sum({pageInfo.slidingFrom},-1) />" />
	<f:variable name="toPlusOne" value='{pageInfo.slidingTo}+1' />

	<f:switch expression="{iteration.cycle}">
	<f:case value="1"><f:variable name="linkAction" value="showBullet" /></f:case>
	<f:case value="{pageInfo.numberOfPages}"><f:variable name="linkAction" value="showBullet" /></f:case>
	<f:case value="{fromMinusOne}"><f:variable name="linkAction" value="showDots" /></f:case>
	<f:case value="{toPlusOne}"><f:variable name="linkAction" value="showDots" /></f:case>
	<f:defaultCase>
		<f:if condition="{iteration.cycle} < {pageInfo.slidingFrom}">
		<f:then><f:variable name="linkAction" value="noDisplay" /></f:then>
		<f:else if="{iteration.cycle} > {pageInfo.slidingTo}"><f:variable name="linkAction" value="noDisplay" /></f:else>
		<f:else><f:variable name="linkAction" value="showBullet" /></f:else>
		</f:if>
	</f:defaultCase>
	</f:switch>

	<f:if condition="{linkAction} != 'noDisplay'">
	<f:then>
        <f:variable name="Bingo" value="Blue" />

        <f:if condition="{iteration.cycle}=={pageInfo.currentPageNumber}">
        <f:then>
            <f:variable name="Bingo" value="Red" />
        </f:then>
        </f:if>

        <f:link.action arguments="{args}" addQueryString="TRUE">
            <f:if condition="{pageInfo.slidingPages}==0">
            <f:then>
                <span class="{Bingo} badge badge-pill badge-info">{iteration.cycle}</span>
		    </f:then>
		    <f:else>
	            <f:switch expression="{linkAction}">
		        <f:case value="showBullet"><span class="{Bingo} badge badge-pill badge-info">{iteration.cycle}</span></f:case>
		        <f:case value="showDots"> ... </f:case>
		        <f:defaultCase>joop-{iteration.cycle}</span></f:defaultCase>
		        </f:switch>
		    </f:else>
		    </f:if>
        </f:link.action>
	</f:then>
    </f:if>
</v:iterator.loop>

<f:variable name="pageNo" value="{pageNo: '{pageInfo.numberOfPages}'}" />
<f:variable name="args" value="<rs:arrayMerge array1='{rsrq_newnames}' array2='{pageNo}'/>" />
<f:link.action arguments="{args}"><span class="badge badge-pill badge-primary"> Last page </span></f:link.action>
<br />
<br />
