{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tr>
    <f:for each="{row}" as="value">
        <td>
            {value}
        </td>
    </f:for>  

    <td>
        <f:link.action controller="Cud" pluginName="Picud" action="edit" pageUid="{flexformData.cudPage}" arguments="{uid: '{row.uid}'}">
            <f:image src="{wfqbe_edit_image}" title="record wijzigen" alt="edit" width="17"/>
        </f:link.action>

        &nbsp;-&nbsp;

        <f:link.action controller="Cud" pluginName="Picud" action="delete" pageUid="{flexformData.detailPage}" arguments="{uid: '{row.uid}'}">
            <f:image src="{wfqbe_delete_image}" title="record verwijderen" alt="delete" width="17"/>
        </f:link.action>
    </td>
</tr>
