{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tr>
    <f:for each="{row}" as="value">
        <f:link.typolink parameter='{flexformData.detailPage}'
                additionalParams="&tx_wfqbe_pi1[uid]={uid}&queryUid={queryUid}"
                additionalAttributes="{queryUid: '{queryUid}' }">
            <td>{value}</td>
        </f:link.typolink>
    </f:for>  

    <td>
        <f:link.typolink parameter='{flexformData.cudPage}'
                additionalParams="&tx_wfqbe_pi1[uid]={uid}&tx_wfqbe_pi1[wfqbe_editing_mode]=1&queryUid={queryUid}"
                additionalAttributes="{queryUid: '{queryUid}' }">
            <f:image src="fileadmin/wfqbe/css/images/edit.gif" title="record wijzigen" alt="edit" width="17"/>
        </f:link.typolink>

        &nbsp;-&nbsp;

        <f:link.typolink parameter='{flexformData.detailPage}'
                additionalParams="&tx_wfqbe_pi1[uid]={uid}&tx_wfqbe_pi1[wfqbe_deleting_mode]=1" >
            <f:image src="fileadmin/wfqbe/css/images/delete.gif" title="record verwijderen" alt="delete" width="17"/>
        </f:link.typolink>
    </td>
</tr>
<f:comment>
              <f:for each="{columnNames}" as="columnName">
                <td>{row.uid}</td>
              </f:for>
</f:comment>
