<!-- ###EMPTY_RESULT_TEMPLATE### -->
<div id="###CONF_DIVID###">
	###CONF_EMPTYTEXT###

	<!-- ###WIZARD_TEMPLATE### -->
		<form id="###CONF_DIVID###_form" method="post" enctype="multipart/form-data" ###XAJAX_SUBMIT### action="###CONF_INSERT###">
			###INSERT_HIDDEN_FIELDS###
			<div class="wfqbe_block">
				<input type="submit" ###XAJAX_CLEAR### name="tx_wfqbe_pi1[wfqbe_select_wizard]" value="###LABEL_CANCEL###" />
			</div>
		</form>
	<!-- ###WIZARD_TEMPLATE### -->
</div>
<!-- ###EMPTY_RESULT_TEMPLATE### -->


