<!-- ###RESULT_TEMPLATE### -->
<div id="###CONF_DIVID###">
<table summary="###TABLE_SUMMARY###" class="wfqbe_table_results">
	<caption><em>###TABLE_CAPTION###</em></caption>
	<thead>
	<tr class="wfqbe_table_header">
		<!-- ###TH_TAG### -->
		<th scope="col">###COLUMN_NAME###</th>
		<!-- ###TH_TAG### -->
	</tr>
	</thead>
	<tbody>
	<!-- ###TABLE_DATA### -->
	<tr  class="###WFQBE_CLASS###">
		<!-- ###TD_TAG### -->
		<td ###TD_ATTRIBUTES###>###COLUMN_DATA###</td>
		<!-- ###TD_TAG### -->
	</tr>
	<!-- ###TABLE_DATA### -->
	</tbody>
</table>
<!-- ###CSV_DOWNLOAD### -->
<br />
<a href="###CONF_CSV###">###LABEL_CSV###</a>
<!-- ###CSV_DOWNLOAD### -->
<br /><br />
<!-- ###BROWSE_TEMPLATE### -->
	<div class="wfqbe_browser">
		###LABEL_PAGE_RECORDS###<br />
		###LABEL_PAGE### ###PAGE_ACTUAL### ###LABEL_OF### ###PAGE_TOTAL###<br />
		<!-- ###SUBPART_PREV### --><a href="###PAGE_PREV###" ###PAGE_PREV_TITLE###>###LABEL_PREV_LINK###</a><!-- ###SUBPART_PREV### --> ###PAGE_LIST### <!-- ###SUBPART_NEXT### --><a href="###PAGE_NEXT###" ###PAGE_NEXT_TITLE###>###LABEL_NEXT_LINK###</a><!-- ###SUBPART_NEXT### -->
	</div>
	<!-- ###BROWSE_TEMPLATE### -->
</div>
<!-- ###RESULT_TEMPLATE### -->
